/*
 Template Name: Stexo - Responsive Bootstrap 4 Admin Dashboard
 Author: Themesdesign
 Website: www.themesdesign.in
 File: Main Css File
*/
/* ============
TABLES OF CSS
---------------

01. General
02. Bootstrap-custom
03. Helper
04. Waves Effect
05. Demo Only
06. Menu
07. Buttons
08. Cards
09. Email
10. Calender
11. Ecommerce
12. Project
13. Alerts
14. Pagination
15. Popover & Tooltip
16. Rangeslider
17. Sweet alert
18. Tab & Accordion
19. Form Elements
20. Form Validation
21. Form advanced
22. Form editor
23. Form summernote
24. Form upload
25. Form wizard
26. Chart
27. Tables
28. widgets
29. Maps
30. Timeline
31. Invoice
32. Pricing
33. Extra pages
34. Account pages
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap");
/* ==============
  General
===================*/
body {
	background-repeat: repeat;
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
	color: #354558;
	font-size: 13px;
}

@media (max-width: 991px) {
	body {
		overflow-x: hidden;
	}
}

html {
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: "Roboto", sans-serif;
}

h6 {
	font-size: 14px;
}

p {
	line-height: 1.7;
}

svg {
	max-width: 100%;
}

* {
	outline: none !important;
}

a {
	color: #616f80;
}

a:hover,
a:active,
a:focus {
	outline: 0;
	text-decoration: none;
}

b,
strong {
	font-weight: 500;
}

/* CUSTOM LAYOUT*/

.container-alt {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#wrapper {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.slimScrollDiv {
	height: auto !important;
}

/* custom holder image */
.slider-image-holder {
	max-height: 1920px;
	max-width: 640px;
}

.image-holder-1920-480 {
	width: 480px;
	height: 1290px;
}

.image-holder-570 {
	width: 570px;
	height: 570px;
}

.image-holder-570-270 {
	width: 570px;
	height: 270px;
}

.image-holder-270 {
	width: 270px;
	height: 270px;
}

.image-holder-270-380 {
	width: 270px;
	height: 380px;
}

.image-holder-460-500 {
	width: 460px;
	height: 500px;
}

.image-holder-270-207 {
	width: 270px;
	height: 207px;
}

.image-holder-140-200 {
	width: 140px;
	height: 200px;
}

.image-holder-240 {
	width: 240px;
	height: 240px;
}
.img-badge{
	position: absolute;
	bottom: 0;
	z-index: 1999;
	left: 0;
	opacity: 0.6;
}

.image-holder-170-100 {
	width: 170px;
	height: 100px;
}

.image-holder-130 {
	width: 130px;
	height: 130px;
}

/* Text helpers */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.upper,
.text-upper {
	text-transform: uppercase;
}

.spacing-5 {
	letter-spacing: 5px;
}

.spacing-10 {
	letter-spacing: 10px;
}

/* ==============
  Bootstrap-custom
===================*/
.dropdown-menu {
	padding: 4px 0;
	font-size: 13px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	background-color: #ffffff;
	border-color: #e9ecef;
	margin: 0;
}

.dropdown-item {
	background-color: #ffffff;
	padding: 0.4rem 1rem;
}

.dropdown-item:active,
.dropdown-item:hover {
	background-color: #f0f4f7;
	color: #354558;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #f0f4f7;
	color: #354558;
}

.dropdown-menu-animated {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	margin-top: 20px !important;
}

.show > .dropdown-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0px !important;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #9ca8b3;
	content: "\f105" !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.blockquote {
	padding: 10px 20px;
	margin-bottom: 20px;
	border-left: 4px solid #e9ecef;
}

.blockquote-reverse {
	border-left: 0;
	border-right: 4px solid #e9ecef;
	text-align: right;
}

.bg-primary {
	background-color: #30419b !important;
}

.bg-success {
	background-color: #02c58d !important;
}

.bg-info {
	background-color: #59c6fb !important;
}

.bg-warning {
	background-color: #fcbe2d !important;
}

.bg-danger {
	background-color: #fc5454 !important;
}

.bg-muted {
	background-color: #9ca8b3 !important;
}

.bg-secondary {
	background-color: #616f80 !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.bg-lighten-primary {
	background-color: #c4caed;
}

.bg-lighten-success {
	background-color: #aefee7;
}

.bg-lighten-info {
	background-color: #bde8fd;
}

.bg-lighten-warning {
	background-color: #fddd92;
}

.bg-lighten-danger {
	background-color: #feb8b8;
}

.bg-lighten-secondary {
	background-color: #dfe3e7;
}

.text-white {
	color: #ffffff !important;
}

.text-danger {
	color: #fc5454 !important;
}

.text-muted {
	color: #9ca8b3 !important;
}

.text-primary {
	color: #30419b !important;
}

.text-warning {
	color: #fcbe2d !important;
}

.text-success {
	color: #02c58d !important;
}

.text-info {
	color: #59c6fb !important;
}

.text-dark {
	color: #354558 !important;
}

.text-secondary {
	color: #616f80 !important;
}

.border-primary {
	border-color: #30419b !important;
}

.border-success {
	border-color: #02c58d !important;
}

.border-info {
	border-color: #59c6fb !important;
}

.border-warning {
	border-color: #fcbe2d !important;
}

.border-danger {
	border-color: #fc5454 !important;
}

.border-dark {
	border-color: #354558 !important;
}

.border-secondary {
	border-color: #616f80 !important;
}

dt {
	font-weight: 500;
}

.bs-spinner .spinner-border,
.bs-spinner .spinner-grow {
	margin-right: 8px;
	margin-top: 10px;
}

.custom-control-input:checked ~ .custom-control-label:before {
	border-color: #30419b;
	background-color: #30419b;
}

/* Navs & Tabs */
.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
	background-color: #30419b;
}

.nav-pills > .active > a > .badge {
	color: #30419b;
}

.badge {
	font-weight: 500;
}

.badge-primary {
	background-color: #30419b;
}

.badge-success {
	background-color: #02c58d;
}

.badge-info {
	background-color: #59c6fb;
}

.badge-warning {
	background-color: #fcbe2d;
	color: #ffffff;
}

.badge-danger {
	background-color: #fc5454;
}

.badge-dark {
	background-color: #354558;
}

.badge-secondary {
	background-color: #616f80;
}

.badge-soft-primary {
	background-color: rgba(48, 65, 155, 0.2);
	color: #30419b;
}

.badge-soft-success {
	background-color: rgba(2, 197, 141, 0.2);
	color: #02c58d;
}

.badge-soft-info {
	background-color: rgba(89, 198, 251, 0.2);
	color: #59c6fb;
}

.badge-soft-warning {
	background-color: rgba(252, 190, 45, 0.2);
	color: #fcbe2d;
}

.badge-soft-danger {
	background-color: rgba(252, 84, 84, 0.2);
	color: #fc5454;
}

.badge-soft-dark {
	background-color: rgba(53, 69, 88, 0.2);
	color: #354558;
}

.badge-soft-secondary {
	background-color: rgba(97, 111, 128, 0.2);
	color: #616f80;
}

/* ==============
  Progressbar
===================*/
.progress-bar {
	background-color: #30419b;
}

/* ==============
  Pagination
===================*/
.page-link {
	color: #30419b;
}

.page-item.active .page-link {
	background-color: #30419b;
	border-color: #30419b;
}

.page-link:focus,
.page-link:hover {
	color: #354558;
	background-color: #f0f4f7;
}

/* ==============
  Helper Classes
===================*/
.m-b-5 {
	margin-bottom: 5px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-40 {
	margin-bottom: 40px;
}

.m-t-5 {
	margin-top: 5px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-40 {
	margin-top: 40px;
}

.m-r-5 {
	margin-right: 5px;
}

.w-30 {
	max-width: 30px;
}

.w-xs {
	min-width: 80px;
}

.w-sm {
	min-width: 95px;
}

.w-md {
	min-width: 110px;
}

.w-lg {
	min-width: 140px;
}

.l-h-23 {
	line-height: 23px;
}

.l-h-34 {
	line-height: 34px;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-14 {
	font-size: 14px;
}

.font-15 {
	font-size: 15px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.font-22 {
	font-size: 22px;
}

.font-24 {
	font-size: 24px;
}

.font-30 {
	font-size: 30px;
}

.font-32 {
	font-size: 32px;
}

.thumb-sm {
	height: 32px;
	width: 32px;
}

.thumb-md {
	height: 48px;
	width: 48px;
}

.thumb-lg {
	height: 88px;
	width: 88px;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.header-title {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center;
}

.rating-symbol-foreground {
	top: 0px;
}

.sub-title {
	margin-bottom: 25px;
	color: #adb5bd;
}

.bg-pattern {
	background-image: url("../images/bg-pattern.png");
	background-size: cover;
	background-position: bottom;
}

/* ==============
 Demo Only css
===================*/
.button-items .btn {
	margin-top: 8px;
	margin-right: 5px;
}

.mfp-content .card {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bs-example-modal {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;
	display: block;
}

.icon-demo-content {
	text-align: center;
	color: #9ca8b3;
}

.icon-demo-content i {
	display: block;
	font-size: 24px;
	margin-bottom: 16px;
	color: #616f80;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.icon-demo-content .col-md-4 {
	margin-bottom: 30px;
}

.icon-demo-content .col-md-4:hover i {
	color: #30419b;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/* ==============
  Popover & Tooltips
===================*/
.popover-header {
	margin-top: 0;
}

.tooltip .tooltip-inner {
	padding: 4px 10px;
}

/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 99999;
}

.waves-effect .waves-ripple {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	background: radial-gradient(
		rgba(0, 0, 0, 0.2) 0,
		rgba(0, 0, 0, 0.3) 40%,
		rgba(0, 0, 0, 0.4) 50%,
		rgba(0, 0, 0, 0.5) 60%,
		rgba(255, 255, 255, 0) 70%
	);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transform: scale(0) translate(0, 0);
	transform: scale(0) translate(0, 0);
	pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
	background: rgba(255, 255, 255, 0.4);
	background: radial-gradient(
		rgba(255, 255, 255, 0.2) 0,
		rgba(255, 255, 255, 0.3) 40%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0.5) 60%,
		rgba(255, 255, 255, 0) 70%
	);
}

.waves-effect.waves-classic .waves-ripple {
	background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
	background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

.waves-button,
.waves-circle {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	outline: none;
	color: inherit;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	z-index: 1;
}

.waves-button {
	padding: 0.85em 1.1em;
	border-radius: 0.2em;
}

.waves-button-input {
	margin: 0;
	padding: 0.85em 1.1em;
}

.waves-input-wrapper {
	border-radius: 0.2em;
	vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
	padding: 0;
}

.waves-input-wrapper .waves-button-input {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

.waves-circle {
	text-align: center;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
}

.waves-float {
	-webkit-mask-image: none;
	-webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

.waves-float:active {
	-webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
	display: block;
}

/******* Metis Menu css *******/
.metismenu {
	padding: 0;
}

.metismenu ul {
	padding: 0;
}

.metismenu ul li {
	list-style: none;
}

/******* Topbar *******/
.topbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.topbar .topbar-left {
	background-color: #fff;
	float: left;
	text-align: center;
	height: 70px;
	position: relative;
	width: 240px;
	z-index: 1;
}

.topbar .topbar-left .logo {
	line-height: 70px;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.topbar .topbar-left .logo .logo-sm {
	display: none;
}

.topbar .navbar-custom {
	background-color: #ffffff;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0 10px 0 0;
	margin-left: 240px;
	min-height: 70px;
	-webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
}

.topbar .navbar-custom .navbar-right .dropdown-toggle:after {
	content: initial;
}

.notification-item-list {
	max-height: 400px;
}

.navbar-custom .dropdown-menu.dropdown-menu-right {
	-webkit-transform: none !important;
	transform: none !important;
	top: 100% !important;
	right: 0 !important;
	left: auto !important;
}

.notification-list.list-inline-item:not(:last-child) {
	margin-right: 0;
}

.notification-list .nav-link {
	padding: 0 15px;
	line-height: 70px;
	color: #495057;
	max-height: 70px;
}

.notification-list .noti-icon {
	font-size: 24px;
	vertical-align: middle;
}

.notification-list .noti-icon-badge {
	display: inline-block;
	position: absolute;
	top: 16px;
	right: 10px;
}

.notification-list .notify-item {
	padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
	float: left;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%;
}

.notification-list .notify-item .notify-icon i {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	line-height: 32px;
	margin-top: 2px;
	color: #ffffff;
}

.notification-list .notify-item .notify-details {
	margin-bottom: 0;
	overflow: hidden;
	margin-left: 45px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: "Roboto", sans-serif;
}

.notification-list .notify-item .notify-details span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 12px;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
}

.notification-list .language-switch a img {
	float: right;
	margin-top: 3px;
}

.notification-list.show .nav-link {
	background-color: rgba(53, 69, 88, 0.05);
}

.notification-list .nav-user img {
	height: 36px;
	width: 36px;
}

.notification-list .profile-dropdown {
	width: 170px;
}

.notification-list .profile-dropdown i {
	font-size: 17px;
	vertical-align: middle;
	margin-right: 5px;
	color: #616f80;
}

.notification-list .profile-dropdown span {
	margin-top: 5px;
}

.arrow-none:after {
	border: none;
	margin: 0;
	display: none;
}

.dropdown-menu-lg {
	width: 300px;
}

.app-search {
	position: relative;
	margin-top: 18px;
}

.app-search .form-control,
.app-search .form-control:focus {
	border: 1px solid #f0f4f7;
	font-size: 13px;
	height: 34px;
	padding-left: 18px;
	padding-right: 40px;
	margin-right: 16px;
	background: #f0f4f7;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 30px;
	width: 300px;
	border: none;
}

.app-search button {
	position: absolute;
	top: 9px;
	right: 26px;
	display: block;
	color: #9ca8b3;
	font-size: 11px;
	border: none;
	background-color: transparent;
}

.button-menu-mobile {
	border: none;
	color: #5b7798;
	display: none;
	height: 70px;
	width: 130px;
	background-color: #ffffff;
	font-size: 30px;
}

/******* Sidemenu *******/
.side-menu {
	width: 240px;
	z-index: 10;
	background: #fff;
	bottom: 0;
	margin-top: 0;
	padding-bottom: 30px;
	position: fixed;
	top: 70px;
}

.side-menu .waves-effect .waves-ripple {
	background-color: rgba(48, 65, 155, 0.4);
}

#sidebar-menu {
	padding-top: 10px;
}

#sidebar-menu > ul > li.mm-active > a > span > .menu-arrow i {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

#sidebar-menu > ul > li > a {
	color: #000;
	display: block;
	padding: 13px 20px;
	font-size: 14px;
	position: relative;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-family: "Roboto", sans-serif;
}

#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:active {
	text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
	margin-left: 7px;
}

#sidebar-menu > ul > li > a i {
	line-height: 1;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}

#sidebar-menu > ul > li > a .badge {
	margin-top: 3px;
}

#sidebar-menu > ul > li > a.mm-active {
	color: black;
}

#sidebar-menu .menu-title {
	padding: 12px 20px !important;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
}

#sidebar-menu .submenu li a {
	padding: 8px 20px 8px 10px;
	color: #7e8cda;
	display: block;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#sidebar-menu .submenu li a:focus {
	background-color: left-bar;
}

#sidebar-menu .submenu li a:hover {
	background-color: #30419b;
	color: rgba(255, 255, 255, 0.8);
}

#sidebar-menu .submenu > li > a {
	padding-left: 50px;
}

#sidebar-menu .submenu > li .submenu > li > a {
	padding-left: 70px;
}

/******* Enlarged *******/
.enlarged .slimScrollDiv {
	overflow: inherit !important;
}

.enlarged .slimScrollBar {
	visibility: hidden;
}

.enlarged #wrapper .topbar .topbar-left {
	width: 70px !important;
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-light {
	display: none !important;
	opacity: 0;
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-sm {
	display: block;
	line-height: 70px;
	font-size: 28px;
}

.enlarged #wrapper .navbar-custom {
	margin-left: 70px;
}

.enlarged #wrapper #sidebar-menu .menu-title,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .badge {
	display: none !important;
}

.enlarged #wrapper #sidebar-menu .mm-collapse.mm-show {
	display: none;
}

.enlarged #wrapper #sidebar-menu .nav.mm-collapse {
	height: inherit !important;
}

.enlarged #wrapper #sidebar-menu ul ul {
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #30419b;
}

.enlarged #wrapper .left.side-menu {
	position: absolute;
	width: 70px;
	z-index: 5;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a {
	position: relative;
	width: 260px;
	color: #ffffff;
	background-color: #2d3d91;
	z-index: 1;
}

.enlarged
	#wrapper
	.left.side-menu
	#sidebar-menu
	> ul
	> li:hover
	> a.open
	:after,
.enlarged
	#wrapper
	.left.side-menu
	#sidebar-menu
	> ul
	> li:hover
	> a.mm-active
	:after {
	display: none;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul {
	display: block;
	left: 70px;
	position: absolute;
	width: 190px;
	height: auto !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 8px 20px;
	position: relative;
	width: 190px;
	z-index: 6;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a:hover {
	color: #ffffff;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover a span {
	display: inline-block;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
	padding: 15px 20px;
	-webkit-transition: none;
	transition: none;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:hover,
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:active,
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:focus {
	color: #000;
	background-color: #fff;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a i {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 20px !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a span {
	display: none;
	padding-left: 10px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover > ul {
	display: block;
	left: 190px;
	margin-top: -36px;
	position: absolute;
	width: 190px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li > a span.float-right {
	position: absolute;
	right: 20px;
	top: 12px;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.mm-active a {
	color: #ffffff;
}

.enlarged #wrapper .content-page {
	margin-left: 70px;
}

.enlarged #wrapper .footer {
	left: 70px;
}

/******* Footer *******/
.footer {
	bottom: 0;
	text-align: center !important;
	padding: 19px 30px 20px;
	position: absolute;
	background-color: #ffffff;
	right: 0;
	left: 240px;
	font-family: "Roboto", sans-serif;
}

/******* Responsive *******/
@media (min-width: 769px) {
	.enlarged {
		min-height: 1200px;
	}
	.enlarged .slimscroll-menu {
		overflow: inherit !important;
	}
}

@media (max-width: 419px) {
	.content-page {
		margin-left: 70px;
	}
	.enlarged .side-menu.left {
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
	}
}

@media (max-width: 480px) {
	.side-menu {
		z-index: 10 !important;
	}
	.button-menu-mobile {
		display: block;
	}
	.navbar-custom {
		margin-left: 0 !important;
	}
}

@media (max-width: 768px) {
	.topbar .topbar-left {
		width: 70px !important;
		height: 70px;
	}
	.topbar .topbar-left .logo-light {
		display: none !important;
	}
	.topbar .topbar-left .logo-sm {
		display: block !important;
		line-height: 70px !important;
		font-size: 28px;
	}
	.navbar-custom {
		margin-left: 70px !important;
	}
	.content-page {
		margin-left: 0 !important;
	}
	.content-page .content {
		padding: 0px;
	}
	.enlarged .left.side-menu {
		margin-left: -70px;
	}
	.footer {
		left: 0 !important;
	}
}

.right-sidebar {
	position: fixed;
	width: 280px;
	top: 70px;
	bottom: 0px;
	right: 0px;
	padding-bottom: 30px;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
}

@media (min-width: 1200px) {
	.dasboard-content {
		margin-right: 280px;
	}
}

/******* Content Page *******/
.content-page {
	margin-left: 240px;
	overflow: auto;
}

.content-page .content {
	padding: 0 15px 10px 15px;
	margin-top: 70px;
	margin-bottom: 60px;
}

/******* Page Title *******/
.page-title-box {
	padding: 20px 0px;
}

.page-title-box .page-title {
	font-size: 18px;
	margin: 0;
	line-height: 30px;
	text-align: center;
}

.page-title-box .breadcrumb {
	padding: 4px 0;
	background-color: transparent;
	margin-bottom: 0;
}

.page-title-box .breadcrumb a {
	color: #354558;
}

.page-title-box .breadcrumb a:hover {
	color: rgba(53, 69, 88, 0.9);
}

.page-title-box .breadcrumb .active {
	color: rgba(53, 69, 88, 0.7);
}

/******* menu light *******/
.left-side-menu-light .side-menu {
	background-color: #ffffff;
}

.left-side-menu-light #sidebar-menu > ul > li > a.mm-active {
	color: #4090cb !important;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(43, 46, 49, 0.07);
	box-shadow: 0px 1px 1px 0px rgba(43, 46, 49, 0.07);
}

.left-side-menu-light #sidebar-menu > ul > li > a:hover,
.left-side-menu-light #sidebar-menu > ul > li > a:focus,
.left-side-menu-light #sidebar-menu > ul > li > a:active {
	color: #000;
}

.left-side-menu-light #sidebar-menu > ul > li > a.waves-effect .waves-ripple {
	background: rgba(255, 255, 255, 0.4);
}

.left-side-menu-light #sidebar-menu > ul > li > a .badge-light {
	background-color: #30419b;
	color: #ffffff;
}

.left-side-menu-light #sidebar-menu .submenu li a:hover {
	background-color: #ffffff;
	color: #4090cb;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > a {
	color: #4090cb !important;
	background-color: #f9f9f9 !important;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > ul a:hover {
	color: #4090cb !important;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:hover,
.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:active,
.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:focus {
	color: #000 !important;
}

.left-side-menu-light.enlarged #sidebar-menu ul ul {
	background-color: #ffffff !important;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
}

.left-side-menu-light .navbar-custom {
	background-color: #383c40;
}

.left-side-menu-light .navbar-custom .button-menu-mobile {
	color: #e9ecef;
	background-color: #383c40;
}

.left-side-menu-light .navbar-custom .btn-light {
	background-color: #42464b !important;
	border-color: #42464b !important;
	color: #ced4da !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.left-side-menu-light .navbar-custom .notification-list .nav-link {
	color: #ced4da;
}

.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control::-webkit-input-placeholder {
	color: #ced4da;
}

.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control:-ms-input-placeholder {
	color: #ced4da;
}

.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control::-ms-input-placeholder {
	color: #ced4da;
}

.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control::placeholder {
	color: #ced4da;
}

.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control,
.left-side-menu-light
	.navbar-custom
	.notification-list
	.app-search
	.form-control:focus {
	border: 1px solid #42464b;
	background: #42464b;
	color: #ced4da;
}

@media (max-width: 576px) {
	.page-title-box .breadcrumb {
		display: none;
	}
}

@media (max-width: 420px) {
	.dropdown-menu-lg {
		width: 220px;
	}
	.notify-icon {
		display: none;
	}
	.notify-details {
		margin-left: 0px !important;
	}
}

/* ==============
  Alertify
===================*/
.alertify,
.alertify-logs {
	z-index: 99;
}

.alertify input {
	border: 2px solid #9ca8b3;
}

.alertify-logs > .success {
	background-color: #02c58d;
	color: #ffffff;
}

.alertify-logs > .error {
	background-color: #fc5454;
	color: #ffffff;
}

.alertify-logs > *,
.alertify-logs > .default {
	background-color: #30419b;
}

/* ==============
  Alertify
===================*/
.alertify,
.alertify-logs {
	z-index: 99;
}

.alertify input {
	border: 2px solid #9ca8b3;
}

.alertify-logs > .success {
	background-color: #02c58d;
	color: #ffffff;
}

.alertify-logs > .error {
	background-color: #fc5454;
	color: #ffffff;
}

.alertify-logs > *,
.alertify-logs > .default {
	background-color: #30419b;
}

/* =============
   Alerts
============= */
.alert {
	position: relative;
	border: 0;
}

.alert .alert-link {
	font-weight: 500;
	text-decoration: underline;
}

.alert-primary {
	color: #ffffff;
	background-color: #30419b;
}

.alert-primary hr {
	border-top-color: #243174;
}

.alert-success {
	color: #ffffff;
	background-color: #02c58d;
}

.alert-success hr {
	border-top-color: #019369;
}

.alert-danger {
	color: #ffffff;
	background-color: #fc5454;
}

.alert-danger hr {
	border-top-color: #fb2222;
}

.alert-warning {
	color: #ffffff;
	background-color: #fcbe2d;
}

.alert-warning hr {
	border-top-color: #f3ab03;
}

.alert-info {
	color: #ffffff;
	background-color: #59c6fb;
}

.alert-info hr {
	border-top-color: #27b5fa;
}

.alert-secondary {
	color: #ffffff;
	background-color: #616f80;
}

.alert-secondary hr {
	border-top-color: #4b5663;
}

.alert-dark {
	color: #ffffff;
	background-color: #354558;
}

.alert-dark hr {
	border-top-color: #222c38;
}

/* ==============
  Buttons
===================*/
.btn {
	border-radius: 3px;
	font-size: 13px;
}

button:focus {
	outline: none;
}

.btn-sm {
	font-size: 10.83333px;
}

.btn-lg {
	font-size: 15.6px;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-dark,
.btn-pink,
.btn-purple,
.btn-indigo,
.btn-teal,
.btn-lime,
.btn-orange,
.btn-brown,
.btn-blue-grey {
	color: #ffffff;
}

.btn-primary {
	background-color: #30419b;
	border: 1px solid #30419b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
	background-color: #2a3988;
	border: 1px solid #2a3988;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(48, 65, 155, 0.3);
	box-shadow: 0 0 0 2px rgba(48, 65, 155, 0.3);
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
	box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
}

.btn-success {
	background-color: #02c58d;
	border: 1px solid #02c58d;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success,
.btn-outline-success.active,
.btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle,
.btn-outline-success:hover,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
	background-color: #02ac7b;
	border: 1px solid #02ac7b;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(2, 197, 141, 0.3);
	box-shadow: 0 0 0 2px rgba(2, 197, 141, 0.3);
}

.btn-info {
	background-color: #59c6fb;
	border: 1px solid #59c6fb;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info,
.btn-outline-info.active,
.btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle,
.btn-outline-info:hover,
.btn-info.active,
.btn-info:active,
.show > .btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
	background-color: #40bdfa;
	border: 1px solid #40bdfa;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(89, 198, 251, 0.3);
	box-shadow: 0 0 0 2px rgba(89, 198, 251, 0.3);
}

.btn-warning {
	background-color: #fcbe2d;
	border: 1px solid #fcbe2d;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning,
.btn-outline-warning.active,
.btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning:active,
.show > .btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
	background-color: #fcb614;
	border: 1px solid #fcb614;
	color: #ffffff;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(252, 190, 45, 0.3);
	box-shadow: 0 0 0 2px rgba(252, 190, 45, 0.3);
}

.btn-danger {
	background-color: #fc5454;
	border: 1px solid #fc5454;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger,
.btn-outline-danger.active,
.btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle,
.btn-outline-danger:hover,
.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
	background-color: #fc3b3b;
	border: 1px solid #fc3b3b;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(252, 84, 84, 0.3);
	box-shadow: 0 0 0 2px rgba(252, 84, 84, 0.3);
}

.btn-dark {
	background-color: #354558;
	border: 1px solid #354558;
	color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active,
.btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
	background-color: #2b3948;
	border: 1px solid #2b3948;
	color: #ffffff;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
	box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
}

.btn-secondary {
	background-color: #616f80;
	border: 1px solid #616f80;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary:active,
.show > .btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary:hover,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
	background-color: #566271;
	border: 1px solid #566271;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(97, 111, 128, 0.3);
	box-shadow: 0 0 0 2px rgba(97, 111, 128, 0.3);
}

.btn-link {
	color: #354558;
}

.btn-link:hover {
	color: #30419b;
}

/* button Outline */
.btn-outline-primary {
	color: #30419b;
	border-color: #30419b;
}

.btn-outline-success {
	color: #02c58d;
	border-color: #02c58d;
}

.btn-outline-info {
	color: #59c6fb;
	border-color: #59c6fb;
}

.btn-outline-warning {
	color: #fcbe2d;
	border-color: #fcbe2d;
}

.btn-outline-danger {
	color: #fc5454;
	border-color: #fc5454;
}

.btn-outline-dark {
	color: #354558;
	background-image: none;
	background-color: transparent;
	border-color: #354558;
}

.btn-outline-secondary {
	color: #616f80;
	border-color: #616f80;
}

.btn-rounded {
	border-radius: 30px;
}

.btn-icon {
	position: relative;
}

.btn-icon .btn-icon-label {
	margin: -0.55rem 0.9rem -0.55rem -0.9rem;
	padding: 0.6rem 0.9rem;
}

.btn-icon::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 38%;
	background-color: rgba(255, 255, 255, 0.15);
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.btn-icon:hover::before {
	width: 100%;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
}

/* ==============
  Card
===================*/
.card {
	border: none;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
	margin-bottom: 30px;
	padding: 10px;
}

@media (min-width: 576px) {
	.card-columns {
		-webkit-column-gap: 30px;
		column-gap: 30px;
	}
}

.card-columns .card {
	margin-bottom: 30px;
}

/* =============
   Nestable
============= */
.custom-dd .dd-list .dd-item .dd-handle {
	background: #f0f4f7;
	border: 1px solid #f0f4f7;
	padding: 10px 16px;
	height: auto;
	font-size: 14px;
	font-weight: normal;
	border-radius: 3px;
}

.custom-dd .dd-list .dd-item .dd-handle:hover {
	color: #30419b;
}

.custom-dd .dd-list .dd-item button {
	height: auto;
	font-size: 25px;
	margin: 8px auto;
	color: #9ca8b3;
	width: 35px;
}

.custom-dd-empty .dd-list .dd3-handle {
	border: none;
	background: #dee2e6;
	height: 36px !important;
	width: 36px !important;
}

.custom-dd-empty .dd-list .dd3-handle:before {
	color: inherit;
	top: 7px;
}

.custom-dd-empty .dd-list .dd3-handle:hover {
	color: #30419b;
}

.custom-dd-empty .dd-list .dd3-content {
	height: auto;
	border: none;
	padding: 8px 16px 8px 46px;
	background: #dee2e6;
}

.custom-dd-empty .dd-list .dd3-content:hover {
	color: #30419b;
}

.custom-dd-empty .dd-list button {
	width: 26px;
	height: 26px;
	font-size: 16px;
	font-weight: 600;
}

.dd-dragel > .dd-item .dd-handle {
	padding: 8px 16px !important;
	background: #dee2e6;
	height: auto;
}

.dd-placeholder,
.dd-empty {
	background: #dee2e6;
	border: 1px dashed #9ca8b3;
}

.dd-dragel > .dd3-item > .dd3-handle {
	border: none;
	background: #dee2e6;
	height: 36px !important;
	width: 36px !important;
}

.dd-dragel > .dd3-item > .dd3-handle:before {
	color: inherit;
	top: 7px;
}

.dd-dragel > .dd3-item > .dd3-content {
	padding: 8px 16px 8px 46px;
	background: #dee2e6;
	height: auto;
}

/* Ion Range slider */
.irs--modern .irs-bar,
.irs--modern .irs-to,
.irs--modern .irs-from,
.irs--modern .irs-single,
.irs--modern .irs-handle > i:first-child {
	background: #30419b !important;
}

.irs--modern .irs-to:before,
.irs--modern .irs-from:before,
.irs--modern .irs-single:before {
	border-top-color: #30419b;
}

.irs--modern .irs-min,
.irs--modern .irs-max {
	color: #616f80;
}

.irs--modern .irs-grid-text {
	font-size: 10px;
}

/* =========== */
/* Sweet Alert2 */
/* =========== */
.swal2-modal .swal2-title {
	font-size: 24px;
}

.swal2-modal .swal2-content {
	font-size: 16px;
}

.swal2-modal .swal2-spacer {
	margin: 10px 0;
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
	border: 2px solid #9ca8b3;
	font-size: 16px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
	outline: 0;
	border: 2px solid #30419b;
}

.swal2-popup .swal2-styled:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.swal2-icon.swal2-question {
	color: #30419b;
	border-color: #30419b;
}

.swal2-icon.swal2-success {
	border-color: #02c58d;
}

.swal2-icon.swal2-success .line {
	background-color: #02c58d;
}

.swal2-icon.swal2-success .placeholder {
	border-color: #02c58d;
}

.swal2-icon.swal2-warning {
	color: #fcbe2d;
	border-color: #fcbe2d;
}

.swal2-icon.swal2-error {
	border-color: #fc5454;
}

.swal2-icon.swal2-error .line {
	background-color: #fc5454;
}

/* ==============
  Form-elements
===================*/
label {
	font-weight: 600;
}

.form-control {
	font-size: 13px;
}

.form-control:focus {
	border-color: #30419b;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-indicator {
	background-color: #30419b;
}

.custom-control-input:focus ~ .custom-control-indicator {
	-webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #30419b;
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #30419b;
}

.has-success .form-control {
	border-color: #02c58d;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.has-warning .form-control {
	border-color: #fcbe2d;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.has-danger .form-control {
	border-color: #fc5454;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group-addon {
	border-radius: 2px;
	border: 1px solid #f0f4f7;
}

.input-group-text {
	font-size: 13px;
}

/* ==============
  Form-Validation
===================*/
.error {
	color: #ff0000;
}

.parsley-error {
	border-color: #fc5454;
}

.parsley-errors-list {
	display: none;
	margin: 0;
	padding: 0;
}

.parsley-errors-list.filled {
	display: block;
}

.parsley-errors-list > li {
	font-size: 12px;
	list-style: none;
	color: #fc5454;
	margin-top: 5px;
}

/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
	border: 1px solid #ced4da;
	padding: 8px;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
	background-color: #30419b !important;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #ffffff;
}

.table-condensed thead th,
.table-condensed tbody td {
	padding: 5px;
}

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
	padding: 9px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
	top: 4px;
	left: 8px;
}

.input-group-addon {
	padding: 0.375rem 0.75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
}

/* Prism */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f0f4f7;
}

/* Rating */
.badge:empty {
	padding: 0;
}

/* ==============
  Form Editor
===================*/
.mce-panel {
	border-color: #dfe8ee !important;
	background-color: #f0f4f7 !important;
}

.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
	background-color: #30419b !important;
}

.mce-menu {
	background-color: #ffffff !important;
}

/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
	min-height: 230px;
	border: 2px dashed rgba(0, 0, 0, 0.3);
	background: #ffffff;
	border-radius: 6px;
}

.dropzone .dz-message {
	font-size: 22px;
}

/* ==============
  Summernote
===================*/
.note-btn-group .dropdown-menu > li > a {
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.note-btn-group .dropdown-menu > li > a:hover {
	background-color: #f7f9fb;
}

.note-image-popover,
.note-air-popover,
.note-link-popover {
	display: none;
}

.note-image-popover .dropdown-toggle::after,
.note-air-popover .dropdown-toggle::after,
.note-link-popover .dropdown-toggle::after {
	margin-left: 0;
}

.note-icon-caret {
	display: none;
}

.note-editor {
	position: relative;
}

.note-editor .btn-light {
	background-color: transparent;
	border-color: transparent;
}

.note-editor .btn-group-sm > .btn,
.note-editor .btn-sm {
	padding: 8px 12px;
}

.note-editor .note-toolbar {
	background-color: #f0f4f7;
	border-bottom: 1px solid #f0f4f7;
	margin: 0;
}

.note-editor .note-statusbar {
	background-color: #ffffff;
}

.note-editor .note-statusbar .note-resizebar {
	border-top: none;
	height: 15px;
	padding-top: 3px;
}

.note-editor.note-frame {
	border: 1px solid #f0f4f7;
	margin-bottom: 0px;
}

.note-popover .popover .popover-content {
	padding: 5px 0 10px 5px;
}

.note-popover .btn-default {
	background-color: transparent;
	border-color: transparent;
}

.note-popover .btn-group-sm > .btn,
.note-popover .btn-sm {
	padding: 8px 12px;
}

.note-toolbar {
	padding: 5px 0 10px 5px;
}

/* ==============
  Widgets
===================*/
.widget-chart li {
	width: 31.5%;
	display: inline-block;
	padding: 0;
}

.widget-chart li i {
	font-size: 22px;
}

.mini-stat-icon i {
	font-size: 30px;
	width: 58px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
}

.dashboard-ct-chart .ct-grid {
	stroke: rgba(0, 0, 0, 0.05);
}

#slider-1 {
	height: 49px;
}

#slider-2 {
	height: 49px;
}

/* Activity */
.activity-feed {
	list-style: none;
}

.activity-feed .feed-item {
	position: relative;
	padding-bottom: 30px;
	padding-left: 30px;
	border-left: 2px solid #f0f4f7;
}

.activity-feed .feed-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -11px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 6px solid #30419b;
	background-color: #ffffff;
}

.activity-feed .feed-item:last-child {
	border-color: transparent;
}

.suggestion-icon i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	background-color: #30419b;
	font-size: 15px;
}

/* ==============
  Charts
===================*/
.jqstooltip {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.chart {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.chart.chart-widget-pie {
	margin-top: 5px;
	margin-bottom: 5px;
}

.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}

.percent:after {
	content: "%";
	margin-left: 0.1em;
	font-size: 0.8em;
}

/* Morris chart */
/* Morris chart */
.morris-charts text {
	font-family: "Roboto", sans-serif !important;
}

.morris-hover.morris-default-style {
	border-radius: 5px;
	padding: 10px 12px;
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
}

.morris-hover.morris-default-style .morris-hover-point {
	font-weight: 500;
	font-size: 14px;
	color: #354558 !important;
}

.morris-hover.morris-default-style .morris-hover-row-label {
	background-color: #354558;
	color: #ffffff;
	padding: 4px;
	border-radius: 5px 5px 0 0;
	margin: -10px -12px 10px;
}

/* Flot chart */
#flotTip {
	padding: 8px 12px;
	background-color: #ffffff;
	z-index: 100;
	color: #354558;
	-webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
	border-radius: 1px;
}

/* Chartist chart */
.ct-golden-section:before {
	float: none;
}

.ct-chart {
	height: 300px;
}

.ct-grid {
	stroke: rgba(0, 0, 0, 0.09);
	stroke-width: 2px;
	stroke-dasharray: 3px;
}

.ct-chart .ct-label {
	fill: #9ca8b3;
	color: #9ca8b3;
	font-size: 14px;
	line-height: 1;
}

.ct-chart.simple-pie-chart-chartist .ct-label {
	color: #ffffff;
	fill: #ffffff;
	font-size: 16px;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
	stroke: #30419b;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
	stroke: #02c58d;
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
	stroke: #fcbe2d;
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
	stroke: #59c6fb;
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
	stroke: #59c6fb;
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
	stroke: #fc5454;
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
	stroke: #f0f4f7;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
	fill: #30419b;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
	fill: #fcbe2d;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
	fill: #02c58d;
}

.chartist-tooltip {
	position: absolute;
	display: inline-block;
	opacity: 0;
	min-width: 10px;
	padding: 2px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-clip: padding-box;
	background: #354558;
	color: #ffffff;
	text-align: center;
	pointer-events: none;
	z-index: 1;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.chartist-tooltip.tooltip-show {
	opacity: 1;
}

/* C3 chart */
.c3 svg {
	max-width: 100%;
}

.c3-tooltip td > span {
	background: #354558;
}

.c3-tooltip td {
	border-left: none;
}

.c3-tooltip {
	-webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
	opacity: 1;
}

.c3-chart-arcs-title {
	font-size: 18px;
	font-weight: 600;
}

.c3-tooltip tr {
	border: none !important;
}

.c3-tooltip th {
	background-color: #354558;
}

.c3-tooltip .value {
	font-weight: 600;
}

.c3-line {
	stroke-width: 2px;
}

.c3-legend-item {
	font-size: 13px;
}

/* ==============
  Maps
===================*/
.gmaps,
.gmaps-panaroma {
	height: 300px;
	background: #f0f4f7;
	border-radius: 3px;
}

.gmaps-overlay {
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 40px;
	background: #30419b;
	border-radius: 4px;
	padding: 10px 20px;
}

.gmaps-overlay_arrow {
	left: 50%;
	margin-left: -16px;
	width: 0;
	height: 0;
	position: absolute;
}

.gmaps-overlay_arrow.above {
	bottom: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #30419b;
}

.gmaps-overlay_arrow.below {
	top: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #30419b;
}

/* ==============
  Tables
===================*/
.table {
	margin-bottom: 10px;
}

.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
	padding: 15px 12px;
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.thead-default th {
	background-color: #f0f4f7;
}

.table td,
.table th {
	vertical-align: middle;
}

/************** datatables ***************/
.dataTables_wrapper.container-fluid {
	width: auto;
}

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
	background-color: #30419b;
	color: #ffffff;
}

table.focus-on tbody tr.focused td {
	background-color: #30419b;
	color: #ffffff;
}

.table-rep-plugin .btn-toolbar {
	display: block;
}

.table-rep-plugin .table-responsive {
	border: none !important;
}

.table-rep-plugin .fixed-solution {
	margin-bottom: 0px;
}

.table-rep-plugin .fixed-solution .sticky-table-header {
	top: 70px !important;
}

.table-rep-plugin .btn-group.float-right .dropdown-menu {
	left: auto;
	right: 0;
	-webkit-transform: none !important;
	transform: none !important;
	top: 100% !important;
}

.table-rep-plugin tbody th {
	font-size: 14px;
	font-weight: normal;
}

.table-rep-plugin .checkbox-row {
	padding-left: 40px;
}

.table-rep-plugin .checkbox-row label {
	display: inline-block;
	padding-left: 5px;
	position: relative;
}

.table-rep-plugin .checkbox-row label::before {
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #dee2e6;
	content: "";
	display: inline-block;
	height: 17px;
	left: 0;
	margin-left: -20px;
	position: absolute;
	transition: 0.3s ease-in-out;
	width: 17px;
	outline: none !important;
}

.table-rep-plugin .checkbox-row label::after {
	color: #616f80;
	display: inline-block;
	font-size: 11px;
	height: 16px;
	left: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	position: absolute;
	top: -1px;
	width: 16px;
}

.table-rep-plugin .checkbox-row input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
	z-index: 1;
	outline: none !important;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
	outline-offset: -2px;
	outline: none;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.table-rep-plugin
	.checkbox-row
	input[type="checkbox"]:disabled
	+ label::before {
	background-color: #f0f4f7;
	cursor: not-allowed;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
	background-color: #30419b;
	border-color: #30419b;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
	color: #ffffff;
}

/* ==============
  Calendar
===================*/
.calendar {
	float: left;
	margin-bottom: 0;
}

.none-border .modal-footer {
	border-top: none;
}

.fc-toolbar {
	margin-bottom: 5px;
}

.fc-toolbar h2 {
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}

.fc-day {
	background: #ffffff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
	z-index: 0;
}

.fc-widget-header {
	border: 1px solid #d5d5d5;
	background-color: #f0f4f7;
}

.fc-widget-content {
	border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	font-weight: 600;
	text-transform: uppercase;
}

.fc-button {
	background: #ffffff;
	border: 1px solid #d5d5d5;
	color: #555555;
	text-transform: capitalize;
}

.fc-text-arrow {
	font-family: arial;
	font-size: 16px;
}

.fc-state-hover {
	background: #adb5bd;
}

.fc-state-highlight {
	background: #f0f0f0;
}

.fc-cell-overlay {
	background: #f0f0f0;
}

.fc-unthemed .fc-today {
	background: #ffffff;
}

.fc-event {
	border-radius: 2px;
	border: none;
	cursor: move;
	font-size: 13px;
	margin: 5px 0;
	padding: 5px 5px;
	text-align: center;
	background-color: #30419b;
	color: #ffffff !important;
}

.external-event {
	color: #ffffff;
	cursor: move;
	margin: 10px 0;
	padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
	padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
	padding-right: 5px;
}

/* ==============
  Email
===================*/
.email-leftbar {
	width: 230px;
	float: left;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
}

.email-rightbar {
	margin-left: 260px;
}

.dot-online {
	position: absolute;
	left: 28px;
	font-size: 12px;
}

.chat-user-box p.user-title {
	font-size: 13px;
	color: #354558;
	font-weight: 500;
}

.chat-user-box p {
	font-size: 12px;
}

@media (max-width: 767px) {
	.email-leftbar {
		float: none;
		width: 100%;
	}
	.email-rightbar {
		margin: 0;
	}
}

.mail-list a {
	display: block;
	color: #3f5168;
	font-size: 13px;
	line-height: 24px;
	padding: 5px;
}

.mail-list a.active {
	color: #fc5454;
	font-weight: 500;
}

.message-list {
	display: block;
	padding-left: 0;
}

.message-list li {
	position: relative;
	display: block;
	height: 75px;
	line-height: 75px;
	cursor: default;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.message-list li a {
	color: #354558;
}

.message-list li:hover {
	background: rgba(53, 69, 88, 0.08);
	-webkit-transition-duration: 0.05s;
	transition-duration: 0.05s;
}

.message-list li .col-mail {
	float: left;
	position: relative;
}

.message-list li .col-mail-1 {
	width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
	display: block;
	float: left;
}

.message-list li .col-mail-1 .dot {
	border: 4px solid transparent;
	border-radius: 100px;
	margin: 22px 26px 0;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
	margin: 28px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
	margin-top: 31px;
	font-size: 13px;
	margin-left: 5px;
}

.message-list li .col-mail-1 .title {
	position: absolute;
	left: 110px;
	right: 0;
	top: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 0;
}

.message-list li .col-mail-2 {
	position: absolute;
	top: 0;
	left: 360px;
	right: 0;
	bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
	position: absolute;
	top: 0;
}

.message-list li .col-mail-2 .subject {
	left: 0;
	right: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	top: 8px;
}

.message-list li .col-mail-2 .date {
	right: 0;
	width: 170px;
	padding-left: 70px;
}

.message-list li.active,
.message-list li.active:hover {
	-webkit-box-shadow: inset 3px 0 0 #30419b;
	box-shadow: inset 3px 0 0 #30419b;
}

.message-list li.unread {
	background-color: #f7f7f7;
	font-weight: 500;
	color: #2b3948;
}

.message-list li.unread a {
	color: #2b3948;
	font-weight: 500;
}

.message-list .checkbox-wrapper-mail {
	cursor: pointer;
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: inset 0 0 0 1px #dee2e6;
	box-shadow: inset 0 0 0 1px #dee2e6;
	border-radius: 1px;
}

.message-list .checkbox-wrapper-mail input {
	opacity: 0;
	cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
	opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 0;
	cursor: pointer;
	opacity: 0;
	margin-bottom: 0;
	-webkit-transition-duration: 0.05s;
	transition-duration: 0.05s;
	top: 0;
}

.message-list .checkbox-wrapper-mail label:before {
	content: "\F12C";
	font-family: "Material Design Icons";
	top: 0;
	height: 20px;
	color: #2b3948;
	width: 20px;
	position: absolute;
	margin-top: -27px;
	left: 4px;
	font-size: 13px;
}

.email-inbox {
	position: relative;
}

.email-inbox .form-control,
.email-inbox .form-control:focus {
	border: 1px solid #f0f4f7;
	font-size: 13px;
	height: 40px;
	padding-left: 34px;
	padding-right: 12px;
	margin-right: 16px;
	background: #f6f6f6;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.email-inbox button {
	position: absolute;
	top: 12px;
	left: 6px;
	display: block;
	color: #9ca8b3;
	font-size: 11px;
	border: none;
	background-color: transparent;
}

@media (max-width: 425px) {
	.title img {
		display: none;
	}
}

.email-img-overlay .email-overlay i {
	background: #30419b;
	color: #ffffff;
	font-size: 20px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	line-height: 40px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	left: 0;
	right: 0px;
	margin: 0 auto;
	opacity: 0;
}

.email-img-overlay:hover img {
	opacity: 0.2;
}

.email-img-overlay:hover .email-overlay i {
	opacity: 1;
}

@media (max-width: 375px) {
	.date {
		display: none;
	}
}

@media (max-width: 768px) {
	.mo-mb-2 {
		margin-bottom: 10px;
	}
	.mo-mt-2 {
		margin-top: 10px !important;
	}
	.ex-pages {
		padding: 24px 0px;
	}
	.btn-toolbar {
		margin-top: 15px;
	}
}

.home-btn {
	position: absolute;
	top: 22px;
	left: 22px;
	z-index: 1;
}

.accountbg {
	background: url("../images/restaurant.png");
	position: absolute;
	background-position: center center;
	height: 100%;
	width: 100%;
	top: 0;
}

.wrapper-page {
	margin: 7.5% auto;
	width: 420px;
	position: relative;
}

@media (max-width: 767px) {
	.wrapper-page {
		width: 90%;
	}
}

.account-pages {
	margin: 10.5% auto;
	position: relative;
}

.comming-watch div {
	display: inline-block;
}

.comming-watch div .card {
	margin: 0px 15px 15px 15px;
}

.comming-watch div .card .countdown-num {
	font-weight: 600;
	color: #30419b;
}

.comming-watch div span {
	width: 150px;
	display: block;
}

.comming-watch div span:first-child {
	height: 60px;
	font-weight: 300;
	font-size: 3em;
	line-height: 48px;
}

.comming-watch div span:last-child {
	padding-top: 14px;
	font-size: 0.9em;
}

.coming-soon-search-form input {
	padding: 15px 20px;
	width: 100%;
	color: #354558;
	border: 2px solid #e9ecef;
	outline: none !important;
	padding-right: 180px;
	padding-left: 30px;
	border-radius: 30px;
}

.coming-soon-search-form button {
	position: absolute;
	top: 7px;
	right: 8px;
	outline: none !important;
	border-radius: 30px;
	padding: 9px 30px;
}

.coming-soon-search-form form {
	position: relative;
	max-width: 600px;
	margin: 0px auto;
}

.faq-box {
	border-left: 3px solid;
}

.error-bg {
	background: url("../images/error.png");
	position: absolute;
	background-position: center center;
	height: 100%;
	width: 100%;
	top: 0;
}

.error-page {
	text-transform: uppercase;
	background: repeating-linear-gradient(
		45deg,
		#30419b,
		#30419b 10px,
		#02c58d 10px,
		#02c58d 20px
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 110px;
	line-height: 0.7;
	position: relative;
}

.maintenance-img img {
	max-width: 320px;
}

/* ==============
  Timeline
===================*/
.cd-container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.main-timeline {
	overflow: hidden;
	position: relative;
}

.main-timeline:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #adb5bd;
	position: absolute;
	top: 0;
	left: 50%;
}

.main-timeline .timeline {
	padding-right: 30px;
	position: relative;
}

.main-timeline .timeline-icon {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #ffffff;
	border: 2px solid #adb5bd;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: -4px;
}

.main-timeline .timeline-icon:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #30419b;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.main-timeline .year {
	display: inline-block;
	padding: 8px 20px;
	margin: 0;
	font-size: 14px;
	color: #ffffff;
	background: #30419b;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 35%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main-timeline .year:before {
	content: "";
	border-right: 18px solid #30419b;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	position: absolute;
	top: 0;
	left: -18px;
}

.main-timeline .timeline-content {
	width: 46.5%;
	padding: 43px 50px;
	margin: 0 20px 0 0;
	background: #f0f4f7;
	position: relative;
}

.main-timeline .timeline-content:after {
	content: "";
	border-left: 20px solid #f0f4f7;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	top: 50%;
	right: -20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main-timeline .title {
	float: left;
	font-size: 18px;
	margin: 0 20px 20px 0;
}

.main-timeline .description {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	clear: both;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before {
	content: "";
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 2px solid #adb5bd;
	background: #ffffff;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: -3px;
}

.main-timeline .timeline:last-child:before {
	top: auto;
	bottom: 0;
}

.main-timeline .timeline:nth-child(2n) {
	padding: 0 0 0 30px;
}

.main-timeline .timeline:nth-child(2n) .year {
	right: auto;
	left: 35%;
}

.main-timeline .timeline:nth-child(2n) .year:before {
	border: 18px solid transparent;
	border-right: none;
	border-left: 18px solid #30419b;
	left: auto;
	right: -18px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
	float: right;
	margin: 0 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after {
	border-left: none;
	border-right: 20px solid #f0f4f7;
	right: auto;
	left: -20px;
}

@media only screen and (max-width: 1200px) {
	.main-timeline .year {
		right: 30%;
	}
	.main-timeline .timeline:nth-child(2n) .year {
		left: 30%;
	}
}

@media only screen and (max-width: 990px) {
	.main-timeline .year {
		right: 25%;
	}
	.main-timeline .timeline:nth-child(2n) .year {
		left: 25%;
	}
}

@media only screen and (max-width: 767px) {
	.main-timeline:before {
		left: 10px;
	}
	.main-timeline .timeline {
		padding: 0 0 0 30px;
		margin-bottom: 20px;
	}
	.main-timeline .timeline:last-child {
		margin-bottom: 0;
	}
	.main-timeline .timeline:first-child:before,
	.main-timeline .timeline:last-child:before {
		display: none;
	}
	.main-timeline .timeline-icon {
		margin: 0;
		position: absolute;
		top: 7px;
		left: 0;
	}
	.main-timeline .year,
	.main-timeline .timeline:nth-child(2n) .year {
		display: block;
		font-weight: bold;
		margin: 0 0 32px 30px;
		z-index: 1;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		-webkit-transform: none;
		transform: none;
	}
	.main-timeline .timeline:nth-child(2n) .year:before {
		border-left: none;
		border-right: 18px solid #30419b;
		right: auto;
		left: -18px;
	}
	.main-timeline .timeline-content {
		padding: 20px;
	}
	.main-timeline .timeline-content,
	.main-timeline .timeline:nth-child(2n) .timeline-content {
		width: auto;
		float: none;
		margin: 0 0 0 30px;
	}
	.main-timeline .timeline-content:after,
	.main-timeline .timeline:nth-child(2n) .timeline-content:after {
		border: none;
		border-bottom: 20px solid #f0f4f7;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		top: -20px;
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 480px) {
	.main-timeline .title {
		float: none;
	}
	.main-timeline .year,
	.main-timeline .timeline:nth-child(2n) .year {
		margin-left: 20px;
	}
	.main-timeline .timeline-content,
	.main-timeline .timeline:nth-child(2n) .timeline-content {
		margin-left: 10px;
	}
}

.pricing-box {
	padding: 30px;
	position: relative;
}

.pricing-box .pricing-icon i {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	line-height: 56px;
	top: -25px;
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}

.pricing-box .pricing-features {
	padding-left: 20px;
}

.pricing-box .pricing-plan sup {
	font-size: 26px;
	position: relative;
	top: -18px;
}

.pricing-box .pricing-border {
	border-top: 1px solid #f0f4f7;
	margin: 0 auto;
	border-bottom: 1px solid #f0f4f7;
	padding: 5px;
}

.pricing-box .pricing-features {
	padding-left: 20px;
}
/*# sourceMappingURL=style.css.map */

/* SOURCE PRODUK PUBLIC */

.product {
	margin-bottom: 50px;
}

.product-name {
	font-size: 14px;
}

.product-category,
.product-status {
	color: #898989;
	margin-bottom: 10px;
}

.product-price {
	color: #333;
	font-size: 14px;
	font-weight: 700;
	font-family: Montserrat, Arial, sans-serif;
}
.product-price del {
	color: #898989;
	font-size: 16px;
	font-weight: 400;
}

.product-stars {
	margin-top: 10px;
	margin-bottom: 30px;
}

.product-description {
	color: #898989;
	margin-bottom: 30px;
}

.product-media {
	background: #f7f7f7;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 40;
}
.product-media a {
	display: block;
	text-align: center;
}
.product-media:hover .product-hover {
	opacity: 1;
}

.product-thumbnail img {
	width: 100% !important;
}

.product-soldout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 45;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
	transform: scale(0.2);
}

.product-grid:hover .product-soldout {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.product-soldout {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.product-soldout .soldout {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	font-family: Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.product-hover {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 20%;
	padding: 0 15px 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.product-grid:hover .product-hover {
	visibility: visible;
	opacity: 1;
	bottom: 0;
	z-index: 9999;
}

.product-actions {
	background-color: #ffffff;
	padding: 5px 0;
	border-radius: 50px;
	text-align: center;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.09);
	display: table;
	width: 100%;
}
.product-actions > .awe-button,
.product-actions > button {
	border: transparent;
	background: transparent;
	padding: 0;
	font-size: 18px;
	border-left: solid 1px #ddd;
	width: auto;
	display: table-cell;
}
.product-actions > .awe-button:first-child,
.product-actions > button:first-child {
	border-left: none;
}
.product-actions > .awe-button.active,
.product-actions > .awe-button:hover,
.product-actions > button.active,
.product-actions > button:hover {
	color: #c8a165;
}
.product-actions > .awe-button > span,
.product-actions > button > span {
	display: none;
}

.product-label {
	background-color: #333;
	font-family: Montserrat, Arial, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	z-index: 50;
	top: 20px;
	left: 0;
	width: 56px;
	height: 25px;
	line-height: 24px;
}
.product-label.hot {
	background-color: #d75b51;
}
.product-label.new {
	background-color: #43c872;
}
.product-label.sale {
	background-color: #ffa800;
}

.product-grid .product-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-list:before,
.product-list:after {
	content: " ";
	display: table;
}

.product-list:after {
	clear: both;
}

.product-list .product-media {
	float: left;
	margin-right: 30px;
}

.product-list .product-body {
	overflow: hidden;
}

.product-list .product-name {
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
}

.product-list .product-category,
.product-list .product-status {
	font-size: 16px;
	margin-bottom: 20px;
}

.product-list .product-price {
	font-size: 30px;
}
.product-list .product-price del {
	font-size: 18px;
}

@media (max-width: 480px) {
	.product-list .product-media {
		float: none;
		margin-right: 0;
	}
	.product-list .product-name {
		margin-top: 15px;
	}
}

.whishlist,
.cart-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.whishlist > li,
.cart-list > li {
	position: relative;
}
.whishlist > li .remove,
.whishlist > li .remove-cart,
.cart-list > li .remove,
.cart-list > li .remove-cart {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
}
.whishlist > li:last-child .cart-item,
.cart-list > li:last-child .cart-item {
	margin-bottom: 0;
}

.whishlist-item,
.cart-item {
	zoom: 1;
	overflow: hidden;
	margin-bottom: 20px;
}
.whishlist-item .product-image,
.cart-item .product-image {
	float: left;
	margin-right: 30px;
}
.whishlist-item .product-body,
.cart-item .product-body {
	overflow: hidden;
}
.whishlist-item .product-name h3,
.whishlist-item .product-name a,
.cart-item .product-name h3,
.cart-item .product-name a {
	font-size: 14px;
}
.whishlist-item .product-price,
.cart-item .product-price {
	font-family: Montserrat, Arial, sans-serif;
	color: #c8a165;
	font-size: 16px;
	font-weight: 700;
}

.whishlist .product-image {
	width: 54px;
	margin-right: 15px;
}

.whishlist .product-body {
	padding-right: 35px;
}

.whishlist .whishlist-name h2,
.whishlist .whishlist-name h3 {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 10px;
}

.whishlist .whishlist-quantity,
.whishlist .whishlist-price {
	font-family: Montserrat, Arial, sans-serif;
	color: #898989;
	font-size: 12px;
}

.whishlist > li .remove {
	font-size: 10px;
	margin-top: 0;
	top: 0;
}

.setting h4 {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.header-setting ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.header-setting ul > li > a {
	color: #898989;
	display: block;
	padding: 7px 0;
}
.header-setting ul > li > a:hover {
	color: #c8a165;
}

.header-account .header-account-username h4 {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.header-account ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.header-account ul > li > a {
	color: #898989;
	display: block;
	padding: 7px 0;
}
.header-account ul > li > a:hover {
	color: #c8a165;
}

.menu-cart-total {
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;
	margin-bottom: 15px;
	padding: 15px 0;
	font-family: Montserrat, Arial, sans-serif;
}
.menu-cart-total:before,
.menu-cart-total:after {
	content: " ";
	display: table;
}
.menu-cart-total:after {
	clear: both;
}
.menu-cart-total > span {
	color: #333;
	font-size: 14px;
	font-weight: 700;
}
.menu-cart-total > .price {
	color: #c8a165;
	float: right;
}

.product-header-actions {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: solid 1px #e1e1e1;
}
.product-header-actions .form-control {
	margin-left: 5px;
	margin-right: 5px;
}
.product-header-actions .form-group {
	position: relative;
	top: -3px;
}

.product-slider-wrapper {
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 50px;
	z-index: 1;
}

.product-slider-thumbs {
	list-style: none;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: inline-block;
	margin-left: 80px;
	margin-top: 100px;
	height: 290px;
}
.product-slider-thumbs img {
	cursor: pointer;
	border: solid 2px transparent;
	width: 80px;
}
@media (max-width: 991px) {
	.product-slider-thumbs {
		margin-left: 40px;
	}
}
.product-slider-thumbs .swiper-slide-active img {
	border: solid 2px #333;
}

.product-slider-main {
	background: #f7f7f7;
}
.product-slider-main .swiper-slide {
	text-align: center;
}
.product-slider-main .swiper-button-next,
.product-slider-main .swiper-button-prev {
	background: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 44px;
}
.product-slider-main .swiper-button-next {
	right: 25px;
}
.product-slider-main .swiper-button-prev {
	left: 25px;
}

.thumbs-bottom {
	margin: 0;
	padding: 0;
}
.thumbs-bottom .product-slider-thumbs {
	margin: 15px 0 0;
	height: auto;
	position: inherit;
	width: 100%;
}
.thumbs-bottom .product-slider-thumbs .swiper-slide {
	width: 25%;
}
.thumbs-bottom .product-slider-thumbs .swiper-slide img {
	width: 100%;
}

.view-icons {
	display: inline-block;
}

.view-icon {
	color: #333;
	display: inline-block;
	font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	opacity: 0.25;
}
.view-icon:hover,
.view-icon.active {
	color: #333;
	opacity: 1;
}

.view-count {
	font-size: 12px;
	display: inline-block;
	margin-left: 45px;
}

@media (max-width: 767px) {
	.form-show-sort {
		margin-top: 15px;
		padding-top: 20px;
		border-top: solid 1px #eee;
	}
}

.form-show-sort .form-group {
	width: 50%;
	margin-bottom: 0;
}
@media (max-width: 479px) {
	.form-show-sort .form-group {
		width: 100%;
		margin-bottom: 15px;
		text-align: left !important;
	}
	.form-show-sort .form-group label {
		display: inline-block;
		min-width: 50px;
	}
	.form-show-sort .form-group:last-child {
		margin-bottom: 0;
	}
}

.form-show-sort .form-control {
	display: inline-block;
	width: auto;
}

.rating {
	font-size: 18px;
}
.rating.small {
	font-size: 12px;
}
.rating span {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}
.rating span:hover {
	cursor: pointer;
}
.rating span:before {
	content: "\f005";
	padding-right: 5px;
	color: #acacac;
}
.rating span.star:before {
	color: #fea200;
}
.rating.live:hover span:before {
	color: #fea200;
}
.rating.live span:hover ~ span:before {
	color: #acacac;
}

.product-quickview-popup {
	min-width: 900px;
	padding: 0;
}
.product-quickview-popup .product {
	margin-bottom: 0;
}
.product-quickview-popup .product:before,
.product-quickview-popup .product:after {
	content: " ";
	display: table;
}
.product-quickview-popup .product:after {
	clear: both;
}
.product-quickview-popup .product-media {
	float: left;
	width: 370px;
}
.product-quickview-popup .product-body {
	overflow: hidden;
	padding: 20px 30px;
}
.product-quickview-popup .product-name {
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
}
.product-quickview-popup .product-category,
.product-quickview-popup .product-status {
	font-size: 12px;
}
.product-quickview-popup .product-status {
	font-size: 14px;
	margin-bottom: 20px;
}
.product-quickview-popup .product-price {
	font-size: 30px;
	margin-bottom: 20px;
}
.product-quickview-popup .product-price del {
	font-size: 18px;
}
.product-quickview-popup .product-tags {
	color: #898989;
}
.product-quickview-popup .product-list-actions-wrapper {
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;
	padding: 30px 0;
}
.product-quickview-popup .product-meta {
	font-size: 12px;
	padding: 15px 0;
}
.product-quickview-popup .form-control {
	border-color: #e1e1e1;
}

.product-socials {
	padding: 20px 0;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;
	text-align: center;
	margin: 50px 0;
}
.product-socials ul {
	display: inline-block;
}
.product-socials li > a {
	color: #333;
	font-size: 20px;
}
.product-socials li > a:hover {
	color: #c8a165;
}
.product-socials li + li {
	margin-left: 35px;
}

.product-details {
	padding-left: 50px;
}
@media (max-width: 991px) {
	.product-details {
		margin-top: 50px;
		padding-left: 0;
	}
}
.product-details > nav {
	border-bottom: solid 1px #e1e1e1;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.product-details .nav > li > a {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	padding-left: 15px;
}
.product-details .nav > li > a:hover,
.product-details .nav > li > a:focus {
	background: transparent;
}
.product-details .nav > li.active > a {
	background: url("../img/bullet.png") no-repeat center left;
	color: #c8a165;
}

.product-details-wrapper {
	padding-right: 50px;
}
.product-details-wrapper .product-name {
	font-size: 26px;
}
.product-details-wrapper .product-stars {
	margin-bottom: 15px;
}
.product-details-wrapper .product-features {
	margin-bottom: 25px;
}
.product-details-wrapper .product-features h3 {
	font-size: 16px;
	margin-top: 0;
}
.product-details-wrapper .product-features ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
.product-details-wrapper .product-features ul > li {
	padding: 5px 0;
}
.product-details-wrapper .product-features ul > li:before {
	font-family: FontAwesome;
	content: "\f00c";
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}
.product-details-wrapper .product-actions-wrapper .form-control {
	border-color: #e1e1e1;
}
.product-details-wrapper .product-list-actions {
	margin: 25px 0;
}
.product-details-wrapper .product-list-actions .btn,
.product-details-wrapper .product-list-actions .search-submit {
	margin-bottom: 10px;
}
.product-details-wrapper .product-price {
	display: inline-block;
	font-size: 40px;
	margin-right: 35px;
}
.product-details-wrapper .product-price del {
	font-size: 20px;
}
.product-details-wrapper .product-meta {
	font-size: 12px;
}
.product-details-wrapper .product-meta a {
	font-weight: 700;
}

#product-description > p {
	color: #676767;
}

#product-infomation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#product-infomation ul > li {
	color: #666;
	padding: 10px 0;
}
#product-infomation ul > li > .value {
	float: right;
}
#product-infomation ul > li + li {
	border-top: solid 2px #e1e1e1;
}

#product-review > h3 {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
}

#product-review .form-control {
	border-color: #e1e1e1;
}

#product-review .review-rating {
	float: left;
	margin-top: 10px;
}
#product-review .review-rating .title {
	display: inline-block;
	margin-right: 10px;
}

#product-review .submit {
	padding-left: 50px;
	padding-right: 50px;
}

.product-review-list {
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
}
.product-review-list > li {
	padding: 25px 0;
	border-bottom: solid 2px #e1e1e1;
}
.product-review-list .review-title {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 10px;
}
.product-review-list .review-comment {
	margin-top: 10px;
	margin-bottom: 10px;
}
.product-review-list .review-comment > p:last-child {
	margin-bottom: 0;
}
.product-review-list .review-meta {
	color: #898989;
	font-size: 12px;
}
.product-review-list .review-meta .author {
	color: #333;
	font-weight: 700;
}
.product-review-list .review-meta .author:hover {
	color: #c8a165;
}

.product-grid .product-thumbnail {
	overflow: hidden;
	position: relative;
}
.product-grid .product-thumbnail img {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
}
.product-grid .product-thumbnail img.current {
	opacity: 1;
	visibility: visible;
}
.product-grid .product-thumbnail img ~ img {
	position: absolute;
	top: 0;
	left: 0;
}

/* Fix */
.easyzoom img {
	max-width: inherit;
}

#open-filters {
	color: #fff;
	background: #333;
	position: fixed;
	right: 0;
	top: 35%;
	padding: 4px 10px;
	cursor: pointer;
	z-index: 1000;
	display: none;
	font-size: 24px;
}
#open-filters > span {
	display: none;
}

.open-filters-open {
	overflow: hidden;
}

.widgets-filter-overlay {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99998;
}

@media (max-width: 991px) {
	.shop-widgets-filters {
		position: fixed;
		width: 256px;
		background: #fff;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 15px;
		border-left: solid 1px #bbbbbb;
		overflow: auto;
		z-index: 100000;
		visibility: hidden;
		transition: all 0.35s ease;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
	.shop-widgets-filters.open {
		visibility: visible;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	#open-filters {
		display: inline-block;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.products-grid-wrapper > .row > [class*="col-"] {
		width: 50%;
	}
}

.product-details-left {
	padding-bottom: 0;
	margin-bottom: 50px;
	border-bottom: solid 1px #e1e1e1;
	overflow: hidden;
}
.product-details-left .product-details {
	padding-left: 0;
}
.product-details-left .product-details nav {
	float: left;
	width: 320px;
	border-bottom: none;
	border-right: solid 1px #e1e1e1;
}
.product-details-left .product-details .tab-content {
	overflow: hidden;
	position: relative;
	left: -1px;
	border-left: solid 1px #e1e1e1;
	padding-left: 30px;
}

/* END SOURCE PRODUK PUBLIC */

.tableorderan,
tr,
th,
td {
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
}

.viewinvo,
.viewres {
	border: 2px solid #304B82;
	background: #304B82;
	color: white;
	margin-bottom: 10%;
}

.viewinvo:hover,
.viewres:hover {
	color: #fff;
}

.simpan {
	background-color: #304B82 !important;
	border: 1px solid #e0e0e0;
}

.noresi {
	border: 1px solid #e0e0e0;
}

.ewallet img {
	max-width: 30%;
	display: block;
	margin: auto;
}

.informasiewallet ul li {
	list-style: none;
}

.inforwallet {
	text-align: center;
}

.btnwithdraw button {
	margin: 3% 45%;
	background: #304B82;
	color: white;
}

.tablewithdraw {
	margin: 3% 35%;
}

.productsub,
.productsub2 {
	margin-left: 50px;
	font-size: 14px;
	display: none;
	line-height: 3;
	z-index: 0;
}

@media (min-width: 768px) and (max-width: 1100px) {
	.app-search .form-control,
	.app-search .form-control:focus {
		display: none;
	}
	.product-actions {
		border-radius: 25px;
		padding: 5px;
	}
	.image-holder-270 {
		height: auto !important;
	}
	.product-price {
		font-size: 14px !important;
	}
	#sidebar-menu {
		z-index: 2 !important;
	}
	.product-actions > .awe-button,
	.product-actions > button {
		font-size: 10px !important;
	}
	.custom-logo,
	.button-menu-mobile {
		margin-left: 20px;
	}
	.card {
		padding: 10px !important;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.card {
		padding: 10px !important;
		width: fit-content;
	}
	.image-holder-270 {
		height: auto !important;
	}
	.product-price {
		font-size: 14px !important;
	}
	.product-name {
		font-size: 14px !important;
	}
	.product-actions > .awe-button,
	.product-actions > button {
		font-size: 12px !important;
	}
	.product-actions {
		border-radius: 25px;
		padding: 10px;
	}
	.custom-logo,
	.button-menu-mobile {
		margin-left: 20px;
	}
	.dropzone {
		padding: 0px !important;
	}
}

/* CSS UNTUK TYPEHEAD */
.bs-example {
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.twitter-typeahead{
	display: block !important;
}
.typeahead,
.tt-query,
.tt-hint {
	/* border: 2px solid #cccccc;
	border-radius: 8px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px; */
	display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
}
.multiple-input-typehead{
	position: relative;
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;
	cursor: pointer;
}
.multiple-input-typehead:before{
	content: "x";
	position: relative;
	color: #ffffff;
	display: inline-block;
	margin-left: 5px;
}

.typeahead {
	background-color: #ffffff;
}
.typeahead:focus {
	border: 2px solid #0097cf;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 12px; /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097cf;
	color: #ffffff;
}
.tt-suggestion p {
	margin: 0;
}

.imgkurir {
	width: 85px;
	height: auto;
	margin-left: 20%;
	margin-bottom: 10%;
	margin-top: 10%;
}

.Jne,
.Tiki,
.Wahana,
.Sicepat,
.jnt,
.Jet,
.Lion,
.Ninja,
.Rex {
	list-style: none;
	display: flex;
	justify-content: left;
}
.layanjne,
.layanjnt,
.layanjet,
.layanlion,
.layanpos,
.layantiki,
.layanwahana,
.layanninja,
.layanrex,
.layansicepat {
	margin-top: 10%;
	margin-left: 10%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 1px solid #ced4da;
	background: #fff;
	background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
	display: none;
}
/* Custom Select */
.select {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #304B82;
	overflow: hidden;
	border-radius: 0.25em;
}
select {
	flex: 1;
	padding: 0 0.5em;
	cursor: pointer;
}
/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #304B82;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
	color: #fff;
}
/* Transition */
.select:hover::after {
	color: #f39c12;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

.container:hover input ~ .checkmark {
	background-color: #ddd;
}

.container input:checked ~ .checkmark {
	background-color: #304B82;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.quantity {
	position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.quantity input {
	width: 100%;
	height: 43px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	border: 1px solid #ced4da;
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	float: left;
	position: relative;
	height: 42px;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	border: 1px solid #ced4da;
	width: 20px;
	text-align: center;
	color: #000;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid #ced4da;
	border-top-right-radius: 0.25rem;
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: -1px;
	height: 50%;
	border-bottom-right-radius: 0.25rem;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	background-color: #304B82;
	color: #fff;
	border: 1px solid #304B82;
	text-align: center;
	border-radius: 0.25rem;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1100px) {
	.imgkurir {
		width: 85px;
		height: auto;
		margin-left: 20%;
		margin-bottom: 10%;
		margin-top: 10%;
	}

	.layanjne,
	.layanjnt,
	.layanjet,
	.layanlion,
	.layanpos,
	.layantiki,
	.layanwahana,
	.layanninja,
	.layanrex,
	.layansicepat {
		margin-top: 10%;
		margin-left: 10%;
	}
	.taginput,
	.typeaheads {
		width: 270px;
	}

	.button-menu-mobile {
		border: none;
		color: #5b7798;
		display: inline-block;
		height: 70px;
		width: 130px;
		background-color: #ffffff;
		font-size: 30px;
	}
}

/* Mobile View */
@media (min-width: 320px) and (max-width: 767px) {
	.imgkurir {
		width: 85px;
		height: auto;
		margin-left: 20%;
		margin-bottom: 10%;
		margin-top: 10%;
	}

	.layanjne,
	.layanjnt,
	.layanjet,
	.layanlion,
	.layanpos,
	.layantiki,
	.layanwahana,
	.layanninja,
	.layanrex,
	.layansicepat {
		margin-top: 10%;
		margin-left: 10%;
	}

	.free_ongkir {
		width: 200px;
	}

	.custom-logo {
		width: 140px !important;
	}

	.taginput,
	.typeahead {
		width: 270px;
	}

	.button-menu-mobile {
		border: none;
		color: #5b7798;
		display: inline-block;
		height: 70px;
		width: 130px;
		background-color: #ffffff;
		font-size: 30px;
	}
}
.box-jumlah{
	padding-top: 20px;
	padding-bottom: 20px;
}
.bg-c-yellow {
    background-color: #ffba57;
}
.bg-c-blue {
    background-color: #10526E;
}
.bg-c-green {
    background-color: #9ccc65;
}
.order-card{
	padding: 0px;
}
.order-card .card-icon {
    position: absolute;
    right: 15px;
    font-size: 80px;
    top: 20px;
    opacity: 0.5;
}
#sidebar-menu > ul > li > a.mm-active{
	background: #10526E;
    width: 90%;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-weight: bold;
}
@media (max-width: 767px) and (min-width: 320px){
	.box-jumlah .card {
	    width: 100%;
	}
}
sup{
	color:red;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.disp{
  color: currentColor;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;	
}